body {
    background-color: limegreen;
    color: steelblue;
    font-family: 'Pangolin', cursive;
    justify-items: center;
    align-items: center;
    padding: 0px 0px 50px 50px;
}

.music-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 80px;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.instrument {
    background: steelblue;
    color: tomato;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    border-radius: 10px;
    border: solid 5px steelblue;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    box-shadow: 5px 10px 5px tomato;
}

.instrument:hover {
    background-color: yellow;
    color: limegreen;
}

.instrument-word {
    font-size: 25pt;
    margin: 0px 0px 50px 0px;
    justify-self: center;
    align-content: center;
}

.instrument-image {
    margin: 10px 0px 0px 0px;
    
}

.inst-list {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0px 10px 40px;
  
}

.side-bar {
  margin: 0px 20px 0px 0px;
  padding: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}

.title {
    font-size: 50pt;
    text-shadow: solid 1pt crimson;
    margin: 0px 0px 15px 0px;
}

.game-button {
    background-color: yellow;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    width: 150px;
    height: 125px;
    border: solid 8px steelblue;
    cursor: pointer;
    margin: 0px 0px 20px 0px;
    box-shadow: 5px 5px 5px tomato;
   

}

.game-button:hover {
    background-color: tomato;

    
}

.game-button-words {
    color: steelblue;
    font-size: 25pt;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
    text-align: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.game-button-words:hover {
    color: steelblue;
}

.game-words{
    font-size: 20pt;
    border: solid 4px steelblue;
    background-color: yellow;
    color: limegreen;
    border-radius: 5px;
    width: 150px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 10px 10px 10px 10px;
    

}

.reset{
    color: steelblue;
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
    text-align: center;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    border: solid 4px steelblue;
    cursor: pointer;
    background-color: yellow;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: green;

}

.honk{
    display: flex;
    color: tomato;
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
    text-align: center;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    border: solid 4px tomato;
    cursor: pointer;
    background-color: steelblue;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    box-shadow: green;
}

.reset:hover {
    background-color: tomato;
}

