body {
    background-color: limegreen;
    color: steelblue;
    font-family: 'Pangolin', cursive;
   
    
}


.music-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 80px;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.instrument {
    background-color: yellow;
    color: limegreen;
    text-align: center;
    justify-items: center;
    justify-content: center;
    font-size: 25pt;
    list-style-type: none;
    border-radius: 10px;
    border: solid 5px steelblue;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.instrument:hover {
    background: steelblue;
    color: tomato;
}

.inst-list {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0px 10px 60px;
  
}

.side-bar {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 40px; 
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.title {
    font-size: 45pt;
    text-align: center;
    text-shadow: solid 1pt crimson;
}

.game-button {
    background-color: yellow;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    width: 150px;
    height: 125px;
   
    border: solid 3px tomato;
   
    cursor: pointer;

}

.game-button:hover {
    background-color: yellow;
    color: limegreen;
}

.game-button-words {
    color: tomato;
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
    text-align: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


.game-words{
    font-size: 20pt;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border: solid 4px tomato;
    border-radius: 5px;
    width: 150px;
    height: 100px;
    

}

